#main{
    display: flex;
    gap: 25px;
}
#m1,#m2{
    border: 1px solid rgba(0, 0, 0, 0.642);
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    h1{
        margin: 0%;
    }
}
#users{
    display: flex;
    justify-content: space-between;
    width: 100%;

    button{
        background-color: transparent;
        border: none;
        color: purple;
        margin-right: 20px;
    }
}
#admins{
    display: flex;
    justify-content: space-between;
    width: 100%;

    button{
        background-color: transparent;
        border: none;
        color: purple;
        margin-right: 20px;
    }
}